.container{
    display: flex;
    flex-direction: column;
    height: 4.8vw;
    justify-content: space-between;
    outline: none;
}

.container div{
    background: black;
    height: 0.5vw;
    width: 6vw;
}

.open:first-child {
    transform: rotate(45deg);
  }
  
.open:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
  }
  
.open:nth-child(3) {
    transform: rotate(-45deg);
  }