html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}


.active{
  display: block;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

.open div:nth-of-type(1){
  transform: rotate(45deg);
}

.open div:nth-of-type(2) {
  opacity: 0;
  transform: translateX(20px);
}

.open div:nth-of-type(3) {
  transform: rotate(-45deg);
}