@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.container {
  display: flex;
  flex-direction: column;
}

.container button {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-top: 0.1em solid rgb(241, 241, 241);
  border-bottom: 0.1em solid rgb(241, 241, 241);
  color: #444;
  cursor: pointer;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  /* border: none; */
  outline: none;
  transition: background-color 0.6s ease;
  width: 100%;
  height: 5rem;
}

.container button > p, .container button > a  {
  /* padding-left: 10%; */
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.container button > svg {
  transition: transform 0.6s ease;
}

.container div {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.accordion.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}

.productList {
  padding: 0;
}

@media screen and (min-width: 750px) {
  .container button > p, .container button > a {
    font-size: 1em;
  }

  .container button {
    border-top: none;
    height: 4rem;
  }
}